<div class="row">
    <div class="col-xs-12">
        <h1><%= it.title %></h1>
        <p>Zie ook <%= it.disease %> bij <a href="#">vrouwen</a> of <a href="#">kinderen</a>.</p>
        <ul>
            <li>
                <a>Wat is het?</a>
            </li>
            <li>
                <a>Onderzoek en diagnose</a>
            </li>
            <li>
                <a>Behandelingen</a>
            </li>
            <li>
                <a>Wat kan ik zelf doen?</a>
            </li>
        </ul>
    </div>
</div>