<footer class="highlight-tertiary align-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="/images/logo.png" />
                <h2>Nederlandse Vereniging van Urologen</h2>
            </div>
            <div class="col-xs-12">
                <p>De NVU besteedt de nodige zorg aan de betrouwbaarheid en actualiteit van de gegevens op deze site, toch wijzen we u op onze <a href="#">disclaimer</a>.</p>
            </div>
        </div>
    </div>
</footer>