<header class="highlight-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-5 col-md-6 align-left">
                <a href="/"><h2>Alles over urologie</h2></a>
            </div>
            <div class="col-sm-7 col-md-6 hidden-xs align-right">
                <img src="/images/logo.png" />
                <h3>Nederlandse Vereniging van Urologen</h3>
            </div>
            <div class="col-xs-6 visible-xs padded-medium">
                <a class="btn btn-secondary btn-subjects" href="onderwerpenaz.html">A - Z</a>
            </div>
        </div>
    </div>
</header>