<div class="highlight-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 search">
                <input type="text" placeholder="zoek uw klacht, behandeling of trefwoord" />
                <button class="btn btn-secondary btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="col-xs-12 hidden-xs col-sm-3 search">
                <button class="btn btn-secondary btn-subjects" type="submit">Onderwerpen A - Z</button>
            </div>
        </div>
    </div>
</div>